﻿@model Store.IndexViewModels.IndexViewModel

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer




@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">@Localizer["Add-product"]</a>
    </p>


    <h3>@Localizer["New"]</h3>
    <div>


        @foreach (var item in Model.Products)
        {
            <div>
                <a asp-action="Details" asp-route-id="@item.Id">

                    @Html.DisplayFor(modelItem => item.Category.Name)

                    @Html.DisplayFor(modelItem => item.Company.Name)

                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
        }

    </div>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            @Localizer["Paging_prew"]
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-default btn">
            @Localizer["Paging"]
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }

}
else
{

<h3>@Localizer["New"]</h3>
<div>


    @foreach (var item in Model.Products)
    {
        <div>
            <a asp-action="Details" asp-route-id="@item.Id">

                @Html.DisplayFor(modelItem => item.Category.Name)

                @Html.DisplayFor(modelItem => item.Company.Name)

                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </div>
    }

</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        @Localizer["Paging_prew"]
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        @Localizer["Paging"]
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
}