﻿
@model Store.IndexViewModels.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Вход на сайт</h2>

<select class="custom-select custom-select-lg mb-3">
    <option selected>Open this select menu</option>
    <option value=""></option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>


@*<a asp-action="Register" asp-controller="Account">Регистрация</a>

    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Email">Введите Email</label>
                <input type="text" asp-for="Email"  />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn" />
            </div>
        </div>
    </form>*@
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Email">Введите Email</label>
            <input type="text" class="form-control" asp-for="Email" placeholder="Email">
            <span asp-validation-for="Email" />
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" />
        </div>


    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
                Запомнить
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Войти</button>
</form>
