﻿@model List<Product>

<div id="searchresults">
    @if (Model.Count > 0)
    {
        foreach (Product product in Model)
        {
            <span><a asp-action="Details" asp-controller="Home">@product.Name</a></span>          
        }
    }
</div>
