﻿@{
    ViewData["Title"] = "SearchAjax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Поиск пользователей</title>
</head>
<body>
    <input type="text" name="searchKey" id="search" />
    <input type='button' id="submit" value='Найти' />
    <div id="results"></div>

    @section Scripts{
        <script>
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
              var searchKey = $('#search').val();
            searchKey = encodeURIComponent(searchKey);
            $('#results').load('@Url.Action("SearchAjaxResult", "Subject")?keyWord=' + searchKey);
        });
    });
        </script>
    }
</body>
</html>