﻿@model Store.IndexViewModels.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ChooseCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageViewModel.CategoryName</h2>

<form asp-action="Search" asp-controller="Product">
    <div class="row">
        <div class="col-sm-3">
            <input name="categoryName" type="hidden" value="@Model.PageViewModel.CategoryName" class="form-control" />
            <label for="query">@Localizer["Search"]</label>
            <input name="query" class="form-control" />
            <label for="priceFrom">@Localizer["PriceFrom"]</label>
            <input name="priceFrom" class="form-control" />
            <label for="priceTo">@Localizer["PriceTo"]</label>
            <input name="priceTo" class="form-control" />

            <input type="submit" value="@Localizer["Find"]" />

        </div>

    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Price"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Category"]
            </th>
            <th>
                @Localizer["Company"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>

                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id"> @Localizer["Details"]</a> |


                </td>

            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{

    <a asp-action="ChooseCategory"
       asp-route-categoryName="@Model.PageViewModel.CategoryName"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ChooseCategory"
       asp-route-categoryName="@Model.PageViewModel.CategoryName"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
